<!DOCTYPE html>
<html>
    <head>
        <title> Admin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
        
        <script>
            $(document).ready( function() {
                $("#movies").hide();
                $("#directors").hide();
                $("#genres").hide();
                
                $("#movieInfo").on("click", function() {
                    if($("#movies").is(":hidden")) {
                        $("#movies").show();
                    } else {
                        $("#movies").hide();
                    }
                });
                    
                $("#directorInfo").on("click", function() {
                    if($("#directors").is(":hidden")) {
                        $("#directors").show();
                    } else {
                        $("#directors").hide();
                    }
                });
                    
                $("#genreInfo").on("click", function() {
                    if($("#genres").is(":hidden")) {
                        $("#genres").show();
                    } else {
                        $("#genres").hide();
                    }
                });
                
                $(".removeMovie").on("click", function(event) {
                    if(confirm("Delete Movie?") == false) {
                        event.preventDefault();
                    }
                })
                $(".removeGenre").on("click", function(event) {
                    if(confirm("Delete Genre?") == false) {
                        event.preventDefault();
                    }
                })

            });
        
        </script>
        
        <h1> Admin Section </h1>

        <form action="/login">
            <button id="logOut">Log Out</button>
        </form>
        <form action="/newMovie">
            <button id="newMovie">Add Movie</button>
        </form>
        <form action="/newDirector">
            <button id="newDirector">Add Director</button>
        </form>  
        <form action="/newGenre">
            <button id="newGenre">Add Genre</button>
        </form>          
        
        <button id ="movieInfo">Movie Info</button><br>
        <button id ="directorInfo">Director Info</button><br>
        <button id ="genreInfo">Genre Info</button><br>

        <div id="movies">
            <% movieList.forEach(function(movie){  %>
                [<a href="/updateMovie?movieId=<%= movie.movieId %>">UPDATE</a>] 
               <strong> <%= movie.movieName %></strong>   $<%=movie.price %>, <%=movie.year %>, <%=movie.imdbRating %>/10
                [<a onclick="deleteConfirm()" class="removeMovie" href="/deleteMovie?movieId=<%= movie.movieId %>">DELETE</a>] 
                <br> <%= movie.description %> <br><br>
                
            <% }) %>
        </div>
        
        <div id="directors">
            <% directorList.forEach(function(director){  %>
                <%= director.firstName %> <%= director.lastName %> <br>
            <% }) %>
        </div>
        
        <div id="genres">
            <% genreList.forEach(function(genre){  %>
                [<a href="/updateGenre?genreId=<%= genre.genreId %>">UPDATE</a>] 
                [<a onclick="deleteConfirm()" class="removeGenre" href="/deleteGenre?genreId=<%= genre.genreId %>">DELETE</a>]
                <%= genre.genreName %> <br> <%= genre.genreDescription %> <br><br>
            <% }) %>
        </div>
        
        
        
    </body>
</html>