<!DOCTYPE html>
<html>
    <head>
        <title> Admin</title>
        <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet'>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <div class="jumbotron jumbotron-fluid">
            <div class="text-center">
                <div class="container-fluid">
                    
                    <img src="https://fontmeme.com/permalink/191211/4aabe8d316423af06391b0a7c0798efe.png" width="437" alt="otterflix" border="0">        
                    <h3>We are continually updating our catalog to suit your every want!</h3>
                    <br>
                    <nav class="text-center">
                        <a href = "/"> home </span> </a>
                        <a href = "/login"> administration </a>
                        <a href = "/catalog"> catalog </a>
                        <a href = "/everything"> collection </a>
                        <a href = "/cart"> cart </a>
                    </nav>
                </div>
            </div>
        </div>
        
        <div id="movies">
            <% movieList.forEach(function(movie){  %>
               <strong> <%= movie.movieName %></strong> $<%=movie.price %>, <%=movie.year %>, <%=movie.imdbRating %>/10
                <br> <%= movie.description %> <br><br>
                
            <% }) %>
        </div>
        

        
        
        
    </body>
</html>