<!DOCTYPE html>
<html>
    <head>
        <title>Collection</title>
        <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet'>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        <script>
            $(document).ready( function() {
                //  cart.forEach(function(item){  
                //      console.log(item );
                //  })
                
                
                
                $(".buy").on("click", function() {
                    addToCart($(".buy").val());
                    // if (cart.includes(/*some movie object */)) {
                    //     alert("Movie is already in your cart.");
                    // } else {
                    //     alert("Added to cart!");
                    // }
                    // alert("Added to cart");
                });
                
                function addToCart(id) {
                    var i = id;
                    
                //      if (temp.includes(id)) { 
                //         alert("Item is already in your cart.")
                //     } else {
                //         //  cart.push(id)   
                //         alert("")
                //     }
                }
                
            });
                
        </script>
        
        
        
    </head>
    <body>
        
        <div class="jumbotron jumbotron-fluid">
            <div class="text-center">
                <div class="container-fluid">
                    
                    <img src="https://fontmeme.com/permalink/191211/4aabe8d316423af06391b0a7c0798efe.png" width="437" alt="otterflix" border="0">        
                    <h3>We are continually updating our catalog to suit your every want!</h3>
                    <br>
                    <nav class="text-center">
                        <a href = "/"> home </span> </a>
                        <a href = "/login"> administration </a>
                        <a href = "/catalog"> catalog </a>
                        <a href = "/everything"> collection </a>
                        <a href = "/cart"> cart </a>
                    </nav>
                </div>
            </div>
        </div>
        
        <div id="movies">
            <% movieList.forEach(function(movie){  %>
            
                    <div class="d-flex justify-content-left">
                        <div>
                            <img src="<%=movie.image %>" width = "200" alt="<%=movie.movieName %>">
                        </div>
                        <div>
                            <strong> <%= movie.movieName %></strong> 
                            <br>
                            $<%=movie.price %> 
                            <br>
                            Released <%=movie.year %> 
                            <br>
                            <%=movie.imdbRating %>/10
                            <br> <%= movie.description %> <br><br>
                            <button class="buy" value="<%=movie.movieId %>">Add to cart</button>

                        </div>
                    </div>            
                    
                    <br>
            <% }) %>
        </div>
        

        
        
        
    </body>
</html>