<!DOCTYPE html>
<html>
    <head>
        <title>Update Movie </title>
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <h1> Updating Movie </h1>
        

        <form method="POST">
        
            Movie Title: <input type="text" name="movieName"
                        value="<%= movieInfo.movieName %>"><br>    
            Price: <input type="text" name="price"
                        value="<%= movieInfo.price %>"><br> 
            Length(Minutes): <input type="text" name="length"
                        value="<%= movieInfo.length %>"><br> 
            Rating: <input type="text" name="imdbRating"
                        value="<%= movieInfo.imdbRating %>"><br> 
            Description: <input type="text" name="description"
                        value="<%= movieInfo.description %>"><br> 
            Year Produced: <input type="text" name="year"
                        value="<%= movieInfo.year %>"><br> 
            Image URL: <input type="text" name="image"
                        value="<%= movieInfo.image %>"><br> 
                    
            <input type="hidden" name="movieId" value="<%= movieInfo.movieId %>"> 
            
            <br><br>
            <button>Update Movie</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>